@model PROYECTO_VISION_USMP.Models.Evento

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TemaEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TemaEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ini)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Ini)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDEvento" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
