@model PROYECTO_VISION_USMP.Models.PabAula

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PabAula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoPabellon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoPabellon.IDPabellon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoAula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoAula.IDAula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        
    </dl>